
@import url("/styles/header.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url("/styles/banner.css");
@import url("/styles/carrossel.css");
@import url("/styles/topicos.css");
@import url("/styles/contato.css");
@import url("/styles/rodape.css");

:root {
    --color-background: #ebecee;
    --color-white: #ffffff;
    --color-orange: #EB9B00;
    --color-degrade-azul: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --color-azul: #002f52;
    --color-black: #000000;

    --font-poppins: "Poppins", sans-serif;
    --font-josefin: "Josefin Sans", sans-serif;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-poppins);
    font-size: 1em;
    font-weight: 400;
}